[Unit]
Description=Tailon Log service
After=network.target

[Service]
Type=simple
ExecStart=/var/lib/jenkins/.local/bin/tailon -b localhost:1337 -f /opt/thermostat/api_server/thermostat_api.log
User=jenkins
Group=thermostat
WorkingDirectory=/var/lib/jenkins/.local/bin/

[Install]
WantedBy=multi-user.target