[Unit]
Description=Thermostat service daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/thermostat/api_server/thermostat_api_server.py
User=jenkins
Group=thermostat
WorkingDirectory=/opt/thermostat/api_server

[Install]
WantedBy=multi-user.target